# комментарий — эта строка игнорируется
# Glob-шаблоны Символ * соответствует 0 или более символам;

# К шаблонам в файле .gitignore применяются следующие правила:

#  - Пустые строки, а также строки, начинающиеся с #, игнорируются.
#  - Можно использовать стандартные glob шаблоны.
#  - Можно заканчивать шаблон символом слэша (/) для указания каталога.
#  - Можно инвертировать шаблон, использовав восклицательный знак (!) в качестве первого символа.

# Если вы хотите ограничиться только корневым уровнем в репозитории - необходимо явно это указать поставив “/” перед шаблоном.

# Glob-шаблоны Символ * соответствует 0 или более символам;

# игнорировать все package.json файлы
**/package.json

# игнорировать все *.cmd файлы
/**/*.cmd
/**/*.bat
/**/package.json
/**/webpack.config.js
/**/.ignore

/**/*.vscode

/pub/docs/frame/disqus.html

# игнорировать все файлы в каталоге docs/video/data
/pub/docs/video/data/

# игнорировать все каталоге в **/src/
/**/src/
/**/webpack/

docs/README.md
stylExecutable.md
/**/*.styl
/**/*.env
/**/* copy.*
/**/*.example.*
/**/*.zip
/**/.bin
/**/.ssh

node_modules
