.ua-profile {
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  text-shadow: 0 0 1px #eee, 0 0 1px #ccc, 0 0 1px #aaa, 0 0 1px #777, 0 0 1px #555, 0 0 1px #444, 0 0 1px #333, 0 0 1px #000;
}
.ua-profile table.q-markdown--table thead {
  border-top: none;
}
.ua-profile table.q-markdown--table thead th {
  border-left: 1px solid #333;
  border-top: none;
  text-align: center;
}
.ua-profile table.q-markdown--table thead th:first-child {
  border-left: none;
}
.ua-profile table.q-markdown--table thead th:last-child {
  border-right: none;
}
.ua-profile table.q-markdown--table thead tr th {
  borderwidth: 0px;
  padding: 1.2vw;
}
.ua-profile table.q-markdown--table tbody td {
  padding: 1.3vw;
  text-align: center;
}
.ua-profile table.q-markdown--table tbody td:first-child {
  text-align: right;
}
.ua-profile table.q-markdown--table tbody td:last-child {
  text-align: left;
}
.ua-profile table.q-markdown--table tbody td.q-markdown--table thead th {
  border-left: 4px solid #333;
  border-right: 4px solid #333;
}
.ua-profile table.q-markdown--table tbody td:first-child,
.ua-profile table.q-markdown--table tbody th {
  borderwidth: 0px;
}
.ua-profile table.q-markdown--table tbody td:last-child,
.ua-profile table.q-markdown--table tbody th {
  borderwidth: 0px;
}
.ua-profile table.q-markdown--table tbody tr:first-child td,
.ua-profile table.q-markdown--table tbody th {
  borderwidth: 0px;
}
.ua-profile table.q-markdown--table tbody tr:last-child td,
.ua-profile table.q-markdown--table tbody th {
  borderwidth: 0px;
  borderwidth: 0px;
}
.ua-profile table.q-markdown--table tbody td:first-child,
.ua-profile table.q-markdown--table thead th:first-child {
  border-right: 2px solid #333;
}
.ua-profile table.q-markdown--table tbody td:last-child,
.ua-profile table.q-markdown--table thead th:last-child {
  border-left: 2px solid #333;
}
.ua-profile .ua-profile--logo-200 {
  background-color: var(--q-color-primary);
  font-size: 14.5em;
  height: 40vh;
  mask: url("https://osbb-gr-44.github.io/pub/img/svg/icons/man-with-tie-profile.svg") no-repeat 100% 100%;
  mask-size: cover;
  width: 36vh;
  -webkit-mask: url("https://osbb-gr-44.github.io/pub/img/svg/icons/man-with-tie-profile.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
}
.ua-profile .q-markdown .q-markdown--heading-h1 {
  padding-left: 4vw;
}
.ua-profile .q-markdown .q-markdown--heading-h2 {
  padding-left: 5vw;
}
.ua-profile .q-markdown .q-markdown--table {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.ua-profile .q-markdown .q-markdown--heading-h1,
.ua-profile .ua-profile.q-markdown .q-markdown--heading-h2 {
  text-shadow: 0 0 1px #eee, 0 0 1px #ccc, 0 0 1px #333, 0 0 1px #222, 0 0 1px #111, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
}
