.ua-profile {
  font-family: 'Open Sans', sans-serif, Arial, Helvetica;
  text-shadow: 0 0 1px #eee, 0 0 1px #ccc, 0 0 1px #aaa, 0 0 1px #777, 0 0 1px #555, 0 0 1px #444, 0 0 1px #333, 0 0 1px #000;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
.ua-profile .ua-profile p,
.ua-profile .ua-profile .air-p {
  font-size: 1rem;
  margin-bottom: 1.3rem;
}
.ua-profile .ua-profile h1,
.ua-profile .ua-profile .air-h1,
.ua-profile .ua-profile h2,
.ua-profile .ua-profile .air-h2,
.ua-profile .ua-profile h3,
.ua-profile .ua-profile .air-h3,
.ua-profile .ua-profile h4,
.ua-profile .ua-profile .air-h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.42;
}
.ua-profile .ua-profile h1,
.ua-profile .ua-profile .air-h1 {
  margin-top: 0;
  font-size: 3.998rem;
}
.ua-profile .ua-profile h2,
.ua-profile .ua-profile .air-h2 {
  font-size: 2.827rem;
}
.ua-profile .ua-profile h3,
.ua-profile .ua-profile .air-h3 {
  font-size: 1.999rem;
}
.ua-profile .ua-profile h4,
.ua-profile .ua-profile .air-h4 {
  font-size: 1.414rem;
}
.ua-profile .ua-profile h5,
.ua-profile .ua-profile .air-h5 {
  font-size: 1.121rem;
}
.ua-profile .ua-profile h6,
.ua-profile .ua-profile .air-h6 {
  font-size: 0.88rem;
}
.ua-profile .ua-profile small,
.ua-profile .ua-profile .air-small {
  font-size: 0.707em;
}
.ua-profile .ua-profile img,
.ua-profile .ua-profile canvas,
.ua-profile .ua-profile iframe,
.ua-profile .ua-profile video,
.ua-profile .ua-profile svg,
.ua-profile .ua-profile select,
.ua-profile .ua-profile textarea {
  max-width: 100%;
}
.ua-profile .ua-profile img {
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  width: 200px;
}
.ua-profile .ua-profile a,
.ua-profile .ua-profile a:visited {
  color: #3498db;
}
.ua-profile .ua-profile a:hover,
.ua-profile .ua-profile a:focus,
.ua-profile .ua-profile a:active {
  color: #2980b9;
}
.ua-profile .ua-profile pre {
  background-color: #fafafa;
  padding: 1rem;
  text-align: left;
}
.ua-profile .ua-profile blockquote {
  margin: 0;
  border-left: 5px solid #7a7a7a;
  font-style: italic;
  padding: 1.33em;
  text-align: left;
}
.ua-profile .ua-profile ul,
.ua-profile .ua-profile ol,
.ua-profile .ua-profile li {
  text-align: left;
}
.ua-profile .ua-profile p {
  color: #777;
}
.ua-profile .ua-profile--logo-200 {
  width: 36vh;
  height: 40vh;
  font-size: 14.5em;
  -webkit-mask: url("https://osbb-gr-44.github.io/pub/img/svg/icons/man-with-tie-profile.svg") no-repeat 100% 100%;
  mask: url("https://osbb-gr-44.github.io/pub/img/svg/icons/man-with-tie-profile.svg") no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--q-color-primary);
}
.ua-profile .q-markdown .q-markdown--heading-h1 {
  padding-left: 4vw;
}
.ua-profile .q-markdown .q-markdown--heading-h2 {
  padding-left: 5vw;
}
.ua-profile .q-markdown .q-markdown--table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.ua-profile .q-markdown .q-markdown--heading-h1,
.ua-profile .ua-profile.q-markdown .q-markdown--heading-h2 {
  text-shadow: 0 0 1px #eee, 0 0 1px #ccc, 0 0 1px #333, 0 0 1px #222, 0 0 1px #111, 0 0 1px #000, 0 0 1px #000, 0 0 1px #000;
}
