.main,.main > *,
.main .editor > * ,.main #qrwrap{
  display: flex;
  margin: 0;
}
.main {
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main > * {
  width: 90vw;
}
.main .title
{
  align-items: center;
  justify-content: center;
  padding: 1em 0 2em 0;
}
.main .editor {
  flex-direction: row;
}

.main .editor > *:last-child {
  justify-content: start;
  width: 50%;
  align-content: center;
  padding: 2% 0 0 2%;
}
.main .editor #qrcode-href {
  /*! width: 40%; */
  /*! height: 70%; */
}
.main .editor #qrcode-img {
  width: 60%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.main .editor #qrcode-img  > *{
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}
.main .editor #qrcode-img canvas, .main .editor #qrcode-img img, .vertmid {
	top: unset;
	position: unset;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.main .editor #qrcode-img  > * b {
	position: unset;
	left: unset;
	bottom: unset;
	transform: none;
}
.main #qrwrap{

  flex-direction: column;
  align-items: center;
  padding: 4.5% 15% 0.5% 15%;
  margin: 0;

}