.main,
.main > *,
.main .editor > *,
.main .editor > * > *,
.main .sets #qrwrap {
  display: flex;
}
.main {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}
.main > * {
  width: 90vw;
}
.main .title {
  align-items: center;
  justify-content: center;
  padding: 1em 0 2em 0;
}
.main .editor {
  flex-direction: row;
  justify-content: center;
}
.main .editor > :first-child {
  align-content: center;
  justify-content: end;
  padding: 4% 2% 0 0;
  width: 50%;
}
.main .editor > *:last-child {
  align-content: center;
  justify-content: start;
  padding: 2% 0 0 2%;
  width: 50%;
}
.main .editor #qrcode-href,
.main .editor #qrcode-img {
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.main .editor > * #qrcode-img b {
  bottom: unset;
  left: unset;
  position: unset;
  transform: none;
}
.main .sets {
  flex-direction: row;
  justify-content: center;
  padding: 4.5% 15% 0.5% 15%;
  white-space: nowrap;
}
.main #qrwrap {
  align-items: center;
  flex-direction: column;
  margin: 0;
  white-space: nowrap;
}
.main .editor #qrcode-img canvas,
.main .editor #qrcode-img img {
  position: unset;
  top: unset;
  transform: none;
  -ms-transform: none;
  -webkit-transform: none;
}