.main, .main > div, .main .editor > div, .main .editor > div > div, .main .sets #qrwrap
    display flex

.main
    align-items center
    flex-direction column
    justify-content center
    width 100vw

    & > div
        width 90vw

    .title
        align-items center
        justify-content center
        padding 1em 0 2em 0

    .editor
        align-items flex-start
        flex-direction row
        justify-content center

        & > :first-child
            align-content center
            justify-content flex-end
            padding 4% 2% 0 0
            width 50%

        & > div
            &:last-child
                align-content center
                justify-content flex-start
                padding 2% 0 0 2%
                width 50%

            #qrcode-img
                b
                    bottom 0
                    left 0
                    position static
                    transform none

        #qrcode-href
            width 60%

        #qrcode-img
            width 100%

    .sets
        flex-direction row
        justify-content center
        padding 4.5% 15% 0.5% 15%
        white-space nowrap

        #qrwrap
            align-items center
            flex-direction column
            margin 0
            white-space nowrap

    .editor
        #qrcode-href, #qrcode-img
            align-items flex-start
            flex-direction column
            width 60%

        #qrcode-img canvas, #qrcode-img img
            position static
            top 0
            transform none
            -moz-transform none
            -ms-transform none
            -o-transform none
            -webkit-transform none